@use "@/assets/scss/abstract" as *;

footer{
    @include flex(row, center, center, 0);
    padding-block: 40px;
    background: $bg-main;

    .footer-inner{
        @include wh(1400px, 300px, null, null, null, null);

        .inner-top{
            @include flex(column, center, null, 40px);
            
            .footer-logo{
                width: 154px;
            }

            .footer-info{
                
                font-size: 16px;
                font-weight: 400;
                color: $txt-sub;
                dl{
                    @include grid(auto, 160px 1fr, 0);
                }
                dt{
                    font-weight: 500;
                    color: $txt-main;
                }
            }
        }
    }
}