// 1400, 920, 767, 360
$ㅠp-pc: 1400px;
$ㅠp-tab: 920px;
$ㅠp-mo: 767px;
$ㅠp-mo-s: 360px;    

@mixin bp($bp-name, $type: max) {
    $bp-pc: pc;
    $bp-tab: tab;
    $bp-mo: mo;
    $bp-mo-s: mo-s;

    @media (#{$type}-width: $bp-name) { @content; }
}