// 1400, 920, 767, 360

$dp-pc: 1400px;
$dp-tab: 920px;
$dp-mo: 767px;
$dp-mo-s: 360px;    

@mixin bp($bp-name, $type: max) {
    @if $type == max{
        @media (max-width: $bp-name) { @content; }
    }
}

// $breakpoints: (pc: 1400px, tab: 920px, mo: 767px, mo-s: 360px);

// @mixin bp($name, $type: max) { 
//     $value: map-get($breakpoints, $name);

//     @if $value == null {
//         @error "Unknown breakpoint: #{$name}";
//     }
    
//     @if $type == max {
//         @media (max-width: $value) {
//             @content;
//         }
//     } @else if $type == min {
//         @media (min-width: $value) {
//             @content;
//         }
//     } @else {
//         @error "bp() type must be `max` or `min`.";
//     }
// }  