$gray-000: #ffffff;
$gray-100:#F8FAFC;
$gray-200: #E5E7EB;
$gray-300: #CCCCCC;
$gray-400: #BDBDBD;
$gray-500: #888888;
$gray-600: #6B7280;
$gray-700: #1A1A1B;
$gray-800: #1A1A1A;
$blue-000: #E6F0FF;
$blue-100: #286CF7;
$blue-200: #004595;
$blue-300: #00316B;
$blue-400: #6366F1;
$etc-000: #909399;
$etc-100: #F56C6C;
$etc-200: #E6A23C;
$etc-300: #67C23A;
// text
$txt-main: $gray-700;
$txt-sub: $gray-600;
$txt-white: $gray-000;
// point
$point-main: $blue-100;
$point-sub: $blue-400;
// bg
$bg-main: $gray-100;
// border
$border-man: $gray-200;

// icon
$ico-color: $gray-600;

// Indicator main
$indicator-main: $gray-000;
// Indicator board
$indicator-board-width:62px;
$indicator-board-height:62px;
$indicator-board-width-min:32px;
$indicator-board-height-min:32px;
$indicator-ico-width:32px;
$indicator-ico-width:32px;
$indicator-ico-width-min:12px;
$indicator-ico-width-min:12px;
$indicator-gap: 20px;
$indicator-gap-min: 8px;
$indicator-board-border: $gray-600;
$indicator-board-prev-bg: $gray-000; 
$indicator-board-prev-hover: $gray-100;
$indicator-board-next-ico-color: $gray-000;
$indicator-board-next-bg: $gray-600;
$indicator-board-next-hover: $gray-200;

$indicator-bar-wrap: 336px;
$indicator-bar-wrap-min: 164px; 
$indicator-bar-height: 4px;
$indicator-bar-ea: 8;
$indicator-bar-ea-min: 4;
$indicator-bar-radius: 1000;
$indicator-bar-bg: $gray-200;
$indicator-bar-active:$blue-100;

// btn
$btn-recruit-bg: $blue-100;
$btn-recruit-color: $gray-000;